<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon Suite" parallel="tests" thread-count="2">
 <test name="iPhone Test">
   <classes>
     <class name="tests.AmazonIphoneTest"/>
   </classes>
 </test>
 <test name="Galaxy Test">
   <classes>
     <class name="tests.AmazonGalaxyTest"/>
   </classes>
 </test>
</suite>
